@import "tailwindcss";

/*👉@theme {
  --color-primary-dark: #1c1c1e;
  --color-secondary-dark: #2c2c2e;
  --color-ternary-dark: #3a3a3c;
}👈*/

@layer base {
  html,
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-300;
  }
  button {
    @apply cursor-pointer transition focus:outline-none;
  }
}
